@media screen and (max-width: 45em) {
  main > .grid {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr;
   max-width: 100%;
 }

 .grid > img {
   width: 100%;
 }
}

.grid {
 display: grid;
 grid-template-rows: auto;
 grid-template-columns: 1fr 1fr ;
}

.grid > img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.grid > img:last-of-type {
  height: auto;
}

/* product info */
.product-info {
  margin: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.product-info > ul {
  margin-right: 5em;
  list-style: none;
  font-size: .8em;
}

.product-info > p {
  max-width: 35em;
}


/* carousel stuff */
.actual-carousel {
  background-color: white;
  height: 100vh;
  width: 100%;
  z-index: +999;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.actual-carousel > .close{
  cursor: pointer;
  border: none;
  background: none;
  background-color:none;
  display: flex;
  justify-content: flex-end;
  margin: 2em 0em;
  text-align: right;
  position: absolute;
  right:0;
  z-index: +9999;
}

.close > svg {
  width: 2em;
}


.carouselButtons {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  height: 60px;
  margin-top: 25%;
  z-index: 99999;
}

.prev {
  cursor: pointer;
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  border: none;
  background:none;
  height: 100%;
  width: 10em;
}

.next {
  cursor: pointer;
  position: absolute;
  right: 0;
  border: none;
  background:none;
  height:100%;
  width: 10em;
}

.car-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  z-index: 999
}

.car-img > img {
  display: none;
  /* max-width: 60%; */
  max-height: 50%;
}

.car-img > .active {
  display: block;
}

.prev-next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}


.prev-next-project {
  margin: 6em;
  text-align: center;
}
